.header {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
    .burger_menu {
      display: none;
      span {
        border: 5px solid black;
        width: 60px;
        margin-bottom: 9px;
        background: #000;
        display: flex;
        border-radius: 10px;
      }
    }
  }
  &__menu {
    &-list {
      display: flex;
    }
    &-item {
      list-style: none;
      margin-right: 49px;
      a {
        color: #696871;
        text-decoration: none;
        font-family: DM Sans;
        font-weight: 700;
        font-size: 15px;
        &:hover {
          color: #19191b;
          padding-bottom: 10px;
          border-bottom: 2px solid #5454d4;
        }
      }
    }
  }
}
