.metrics {
    margin-top: 100px;
    &__wrapper {
        display: flex;
    }
    &__title {
        margin-top: 180px;
        font-family: DM Sans;
        font-weight: 700;
        font-size: 50px;
        color: #19191B;
    }
    &__subtitle {
        font-family: Mulish;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        margin-top: 30px;
        width: 460px;
        margin-right: 160px;
        margin-bottom: 30px;
    }
    &__cards {
        display: flex;
        justify-content: space-between;
        margin-top: 140px;
    }
    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        &-title {
            font-family: DM Sans;
            font-weight: 700;
            font-size: 24px;
            color:#19191B;
            margin-bottom: 0;
        }
        &-descr {
            font-family: Mulish;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            width: 307px;
            margin-top: 20px;
        }
    }
}